@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, p, ul, ol {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 400;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}

/* common */
body {font-family: 'MarkForMC'; font-size: 16px; font-weight: 400; color: #141413;}
h3 {font-size: 12px; font-weight: 500; letter-spacing: 1.8px; line-height: 16px; color: rgb(68, 67, 64);}
a {display: block;}
a i {display: inline-block; font-size: 18px; line-height: 20px; margin-left: 5px;}

#wrapper {overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -41px; width: 100%; text-align: center; line-height: 40px; background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 16px; border-bottom: 1px solid rgba(255, 255, 255, 0.8); transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}

#gnb{background-color: #141413; position: fixed; padding: 56px 0; z-index: -1; width: 100%; height: 100%;}
#gnb ul.main-menu li {position: relative; padding: 20px 16px; border-top: 1px solid hsla(0,0%,100%,.1);}
#gnb ul.main-menu li a i{position: absolute; right: 0; padding: 0 20px; border-left: 1px solid hsla(0,0%,100%,.1); height: 100%; top: 50%; transform: translate(0, -50%); line-height: 60px;}

#gnb > div.search-box-mobile {padding: 20px 16px; height: 100%; background-color: rgb(34, 34, 33);} 
.search-box-mobile div.inner-box div.label {position: absolute; width: 100%; height: 100%;}
.search-box-mobile div.inner-box div.label #input {position: relative; border-radius: 30px; width: 100%; height: 40px; border: 1px solid #444340; box-sizing: border-box; background-color: #444340;}
.search-box-mobile div.inner-box div.label #input::placeholder {padding: 40px; font-size: 14px; color:#ffffff}
.search-box-mobile div.box div.label label i {position: absolute; font-size: 18px; left: 10px; top: 10px;}
.search-box-mobile ul.tag-list {position: absolute; color: rgb(177, 173, 166); font-weight: 400; margin-top: 60px;}
.search-box-mobile ul.tag-list li {margin-bottom: 24px;}
.search-box-mobile ul.tag-list li a {display: block;}
.search-box-mobile ul.tag-list li a span {display: inline-block; vertical-align: middle; padding-right: 10px; }
.search-box-mobile ul.tag-list li:first-child a img {width: 20px; height: 20px;}
.search-box-mobile ul.tag-list li:nth-child(2) a img {height: 13.63px; width: 20px;}
.search-box-mobile ul.tag-list li:last-child a img {height: 20px; width: 12.73px;}


/* header */
#header {position: absolute; height: 56px; top: 0; width: 100%; color: #ffffff; border-bottom: 1px solid transparent; box-sizing: border-box; z-index: 9999;}
#header div.box {position: relative; height: 100%;}
#header h1 {position: absolute; top: 50%; transform: translate(0, -50%); margin: 0 16px; }
#header h1 a {display: block;}
#header h1 a img {width: 42px;}

#header div.hamburger-menu {position: absolute; right: 0; top: 50%; transform: translate(0, -50%); margin: 0 16px; }
#header div.hamburger-menu a {display: inline-block;}
#header div.hamburger-menu span {display: block; text-indent: -9999px;}
#header div.hamburger-menu i {display: block; top: 50%; transform: translate(0, -50%); font-size: 17px;}
#header div.hamburger-menu.on i:first-of-type {display: none;}
#header div.hamburger-menu i:last-child {display: none;}
#header div.hamburger-menu.on i:last-child {display: block;}

/* gnb sub menu */




/* footer */
#footer {background-color: #141413; position: relative; color: #ffffff;}
#footer div.content-wrapper {margin: 0 16px; padding: 40px 0;}
#footer h1.footer-logo {display: inline-block; width: 48px;}
#footer h1.footer-logo a img {width: 100%; height: 100%;}
#footer div.inner-box {position: relative; padding-top: 20px;}
#footer div.inner-box em {display: inline-block; margin-bottom: 40px; font-size: 24px; line-height: 30px;}
#footer div.inner-box ul.regulation li {color: rgb(177, 173, 166); font-weight: 500; font-family: MarkForMC-Med;}
#footer div.inner-box ul.regulation > li + li {margin-top: 24px;}
#footer ul.regulation li a img {padding-right: 8px;}
#footer-gnb ul.footer {position: relative; height: 100%; width: 100%; margin-top: 40px;}
#footer-gnb ul.footer li + li {margin-top: 40px;}
#footer-gnb ul.footer > li p {margin-bottom: 15px; color: rgb(177, 173, 166); font-size: 14px; font-weight: 700; letter-spacing: 1.8px;}
#footer-gnb ul.footer > li {font-family: MarkForMCNrw; line-height: 24px; margin-bottom: 50px;}
#footer-gnb ul.footer > li ul > li + li {margin-top: 5px;}
div.bottom-footer {display:block; border-top: 2px solid rgb(255, 255, 255);}

#footer div.footer-gnb {padding: 30px 0;}
#footer div.bottom-footer > ul > li {font-family: MarkForMCNrw;}
#footer div.bottom-footer ul.link {display: inline-block; margin-bottom: 40px;}
#footer div.bottom-footer ul.link li {float: left;}
#footer div.bottom-footer ul.link li + li a {margin-left: 15px;}
#footer div.bottom-footer ul.link li a i {display: block; font-size: 25px;}
/* #footer div.bottom-footer ul.lang {right: 220px;} */
#footer div.bottom-footer ul.lang {display: block; padding-bottom: 40px;}
#footer div.bottom-footer ul.privacy li + li {margin-top: 15px;}
#footer div.bottom-footer ul.privacy li {display: block; }
#footer div.bottom-footer p {margin-top: 40px;}

/* main */
#main .main-visual {position: relative; height: 734px; width: 100%; overflow: hidden;}
#main .main-visual ul.video {height: 100%; width: 100%; margin: 0 auto;}
#main .main-visual ul.video li {position: relative; height: 100%; width: 100%; margin: 0 auto;}
#main .main-visual ul.video li video {position: absolute; left: 50%; transform: translate(-50%, 0);}
#main .main-visual ul.video a {position: absolute; bottom: 30px; left: 50%; transform: translate(-50%, 0);}
#main .main-visual ul.video a i {font-size: 32px; color: #ffffff;}
#main .main-visual div.tittle {position: absolute; width: 600px; top: 50%; transform: translate(0, -50%); margin: 0 16px;}
#main .main-visual div.tittle h3 {color: rgb(177, 173, 166);}
#main .main-visual div.tittle h2 {font-size: 36px; font-weight: 200; color: #ffffff; line-height: 42px; padding-top: 17px;}


/* body */
section.grid-main {background-color: rgb(50, 50, 49);}
section.grid-main div.visual {height: 100%;}
section.grid-main div.container {margin: 0 16px; padding: 30px 0; height: 100%;}
section.grid-main div.container section {position: relative; height: 100%;}
section.grid-main div.container img {width: 100%; height:100%; box-sizing: border-box;}
section.grid-main div.container div.sub-content {position: relative; width: 100%; box-sizing: border-box; margin-top: 20px; padding-bottom: 70px;}
section.grid-main div.container div.sub-content h3 {color:rgb(177, 173, 166);}
section.grid-main div.container div.sub-content span {display: block; margin: 12px 12px 0 0; color: #ffffff; font-size: 24px; line-height: 36px;}
section.grid-main div.container div.sub-content a {display: block; margin-top: 24px; color: rgb(177, 173, 166); font-family: MarkForMC-Med;}
section.grid-main div.container div.sub-content a i {display: inline-block; margin-left: 5px; color: #ffffff;}


/* module */
section.title {position: relative; height: 400px; width: 100%;}
section.title div.title-box {background: url(../img/african-american-women-hugging-1300x650\ \(1\).jpg) center center no-repeat; background-size: cover; height: 100%; width: 100%;}
section.title:nth-of-type(3) div.title-box {background-image: url(../img/female-scientist-looking-into-microscope-1300x650.jpg); background-size: cover;}
section.title:nth-of-type(5) div.title-box {background-image: url(../img/mastercard-cards-1300x650.jpg); background-size: cover;}
section.title div.paragraph {position: relative; width: 600px; color: rgb(255, 255, 255); top: 50%; transform: translate(0, -50%); width: 468px; margin: 0 16px;}
section.title div.paragraph h2 {font-size: 36px; font-weight: 200; line-height: 42px;}    
section.title div.paragraph a {position: absolute; width: 114.5px; margin-top: 25px; font-size: 16px; font-family: MarkForMC-Med;}
section.title div.paragraph a i {position: absolute; font-size: 18px; line-height: 20px; padding-left: 5px;}
section.title div.paragraph a.card {display: inline-block; border: 2px solid rgb(255, 255, 255); border-radius: 20px; box-sizing: border-box; text-align: center; line-height: 32px;}

div.image-slide {position: relative; width: 100%; height: 870px; box-sizing: border-box; background-color: #ffffff;}
div.image-slide ul.slide {height: 100%; width: 100%;}
div.image-slide ul.slide li {height: 100%; width: 100%;}
div.image-slide ul.slide li .slide-box {position: absolute;  padding: 0 16px; margin-top: 23px;}
ul.slide li .slide-box .content em {display: block; font-size: 28px; line-height: 36px; font-weight: 300; margin-top: 12px;}
ul.slide li .slide-box .content p {font-size: 18px; font-family: MarkForMCNrw; line-height: 26px; margin-top: 16px;}
ul.slide li .slide-box .content > a {display: inline-block; margin-top: 22px; border: 2px solid rgb(207, 69, 0); border-radius: 20px; box-sizing: border-box; padding: 0 24px; font-family: MarkForMC-Med; text-align: center; line-height: 32px; color:rgb(207, 69, 0);}
div.image-slide ul.slide li .image-box {position:relative; top: 0; height: 562px;}
div.image-slide ul.slide li .image-box div.image {width: 100%; height: 100%;}
section.image1 ul.slide > li:first-child div.image {background: url(../img/asian-mom-using-laptop-with-baby-at-home-720x810.jpg) center center no-repeat; background-size: cover;}
section.image1 ul.slide > li:nth-child(2) div.image {background: url(../img/female-steel-worker-holding-tablet-inside-factory-720x810.jpg) center center no-repeat; background-size: cover;}
section.image1 ul.slide > li:nth-child(3) div.image {background: url(../img/shop-assistant-working-in-indoor-potted-plant-store-720x810.jpg) center center no-repeat; background-size: cover;}
section.image1 ul.slide > li:nth-child(4) div.image {background: url(../img/woman-holding-card-reader-man-paying-with-mastercard-720x810.jpg) center center no-repeat; background-size: cover;}
section.image2 ul.slide > li:first-child div.image {background: url(../img/hip-young-man-holding-phone-720x810.jpg) left center no-repeat;background-size: cover;}
section.image2 ul.slide > li:nth-child(2) div.image {background: url(../img/woman-online-shopping-with-laptop_720x810.jpg) left center no-repeat; background-size: cover;}
div.image-slide div.indicator {position: absolute; bottom: 40px; left: 50%; transform: translate(-50%, 0); margin-bottom: 290px;}
div.image-slide div.indicator ul li {float: left; border: 2px solid #141413; border-radius: 50%; box-sizing: border-box; width: 10px; height: 10px; background: transparent; text-indent: -999px; overflow: hidden;}
div.image-slide div.indicator ul li.on {background-color: #141413;}
div.image-slide div.indicator ul li + li {margin-left: 8px;}

section.newsroom {background-color: rgb(248, 247, 245); width: 100%;}
section.newsroom div.background-box {position: relative; margin: 0 16px; height: 100%;}
section.newsroom div.background-box .box > span.title {display: block; margin: 0 12px 24px 0; width: 100%; padding-top: 23px; font-size: 28px; line-height: 36px; color: #141413; font-weight: 300;}
section.newsroom ul.newsroom-list {overflow: hidden;}
section.newsroom ul.newsroom-list > li {margin-bottom: 43px;}
section.newsroom ul.newsroom-list ul.news {margin-top: 20px;padding-bottom: 24px;}
section.newsroom ul.newsroom-list ul.news span {display: block; margin: 12px 0;}
section.newsroom ul.newsroom-list img {height: 100%; width: 100%;}
section.newsroom ul.news span {margin: 12px 0; font-size: 28px; line-height: 36px;}
section.newsroom ul.news a {font-family: MarkForMC-Med;}
section.newsroom ul.news a i {color: #9a3a0a; position: absolute;}

section.home {background-color: rgb(50, 50, 49); color: rgb(177, 173, 166); box-sizing: border-box;}
section.home a {display: block; margin-left: 16px; padding: 30px 0; font-family: MarkForMCNrw;}





a.search-icon {display: none;}

.hidden {display: none;}
.search-box {display: none;}

